@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------------------- */
html,
body {
  height: 100%;

  #root {
    height: 100%;
  }
}

.App {
  height: 100%;
}

.pomodoro {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url('./assets/images/pomodoro.png');
  background-position: 115% 0%;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 40px;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 88%;
  }

  &__banner {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 18px;
  }

  &__finished {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    transform: scale(0.9, 0.75);
  }

  &__type {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
  }

  &__timer {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 40px;
  }

  &__tomato {
    margin-right: -20px;
  }

  &__buttons {
    display: flex;
    width: 100%;

    .pomodoro__button {
      width: 50%;
      border: none;
      padding: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
    }

    &--start {
      border-right: 1px solid white !important;
      background-color: lightgrey;

      &:hover {
        background-color: #f35228;
      }
    }

    &--reset {
      background-color: rgb(202, 201, 201);

      &:hover {
        background-color: #5B39A8;
      }
    }
  }

  &__timers {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    label {
      font-size: 14px;
      text-align: center;
    }

    input {
      padding: 10px;
      border: none;
      text-align: center;
      font-size: 25px;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    &__timer {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }


  &__rounds {
    padding: 30px 17px;
    font-size: 12px;
    position: relative;

    &__change {
      margin-top: 15px;

      label {
        top: -2px;
        display: inline-block;
        position: relative;
      }

      input {
        margin-left: 10px;
      }


    }

    &--toggle {
      margin-top: 10px;

      label {
        margin-right: 12px;
      }

      span {
        font-size: 10px;
        display: block;
        margin-top: 0;
        font-family: 'Titillium Web', sans-serif;
      }
    }
  }

  &__data {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    min-height: 30px;

    &--set {
      display: block;
      margin-top: 10px;
    }

    &__count {
      display: block;
      margin-top: 10px;
      margin-left: 9px;
    }
  }

  &__total {
    font-family: 'Titillium Web', sans-serif;

    &__num {
      font-size: 14px;
    }
  }

  &__volume {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 10;

    @media (max-width: 415px) {
      display: none;
    }

    input {
      max-width: 110px;
    }

    label {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-left: 4px;
      color: white;
      background: #0260cc;
      padding-left: 12px;
      padding-right: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
      border-radius: 10px;
      width: fit-content;
    }
  }
}